@import "../utilities/variables";

.footer {
    background-color:map-get($basic-color, dark);
    color: map-get($basic-color, light);

    @include container;
    @include tablet {
      align-items: center;
    }
}

    .footer-list {
      display: flex;
      flex-direction: column;
      gap: map-get($gap, small);   
      
    &-info {
      display: flex;
      flex-direction: column;
      position: relative;
      width: fit-content;
      gap: map-get($gap, small);
    &-icon {
      min-width: 2.5rem;
    }
  
      &::after {
        margin: 1rem;
        background-image: linear-gradient(
          $primary-color,
          $secondary-color
        );
        content: "";
        height: 9px;
        width: 0%;
        margin-left: 9rem;
        transition: $transition-all-fast;
      }
  
      &:hover {
        &::after {
          width: 50%;
        }
      }
    }
  }