@import "../utilities/variables";

.footer {
  background-color: $darkGray-color;
  color: $base-white-color;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
  }
  &-logo {
      padding: 30px;
  }

  &-list {
   display: flex;
   flex-direction: column;
   list-style: none;
   gap: map-get($gap , gap-small);
   @include tablet {
   gap: 1px;
   }
  }

  &-description {
    position: relative;
    width: fit-content;

    &:hover {
      transform: scale(0.9);
      transition-delay: 0.5s;
      cursor: pointer;
    }
    &::after {
      background-image: linear-gradient(
       $primary-color,
       $secondary-color,
      );
      content: "";
      margin-left: calc(map-get($margin , margin-base) * -1);
      transition: $transition-all-fast;
      width: 0%;
      height: 4px;
    }
  }
  &-icon {
    min-width: 2.2rem;
  }
}