@import "../utilities/variables";

.header {
    background-color: map-get($basic-color, white);
    box-shadow: map-get($shadow, shadow-base);
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding-bottom: map-get($padding, small);
    padding-top: map-get($padding, medium);
    place-items: center;
    position: relative;
    text-align: center;
  
    &-home {
      @include tablet {
        grid-template-columns: 0 1fr 1fr;
      }
    }
  
    &-title {
      display: grid;
      justify-content: start;
      padding: 9px map-get($padding, medium);
      width: 100%;
    }
  
    &-logo {
      height: 100%;
    }
  
    // &-link {
    //   font-size: 2.5rem;
    //   justify-self: start;
    //   margin-left: map-get($gap, base);
    // }

    &-location {
      display: none;
  
      @include tablet {
        display: flex;
        gap: map-get($gap, gap-base);
        justify-self: end;
        padding: 0 map-get($padding, medium);
      }
  }
}
  //------------------------Main Location-----------------------------//
    .location {
      background-color: map-get($basic-color, lightGray);
      display: flex;
      justify-content: center;
      gap: map-get($gap, gap-base);
      padding: map-get($padding, medium);
    
      @include tablet {
        display: none;
      }
    }