@import "../utilities/variables";


//-------------Header Main & Menu---------------//

.page-header-main {
  display: flex;
  background-color: $base-white-color;
  box-shadow: map-get($shadow , shadow-base);
  grid-template-columns: 1fr min-content 1fr;
  padding: 20px 20px 20px 10px;

  &-title {
    display: grid;
    justify-content: start;
    padding: 0 map-get($padding , medium);
    width: map-get($width , base-width);
  }

  &-logo {
    display: grid;
    align-items: start;
    justify-content: start;
    height: map-get($height , base-height);
  }

  &-link {
    display: flex;
    justify-self: center;
    font-size: 2.5rem;
  }
}

.arrow {
  display: flex;
  align-items: start;
  padding-right: 600px;
  margin-top: 18px;

  &:hover {
    transform: scale(0.9);
    transition-delay: 0.5s;
    cursor: pointer;
  }
}

//-------------Header Menu---------------//

.page-header-menu {
  @include desktop;
  @include tablet;
  display: grid;
  background-color: $base-white-color;
  box-shadow: map-get($shadow , shadow-base);
  grid-template-columns: 1fr min-content 1fr;
  padding: 20px;
}

//-------------Location---------------//

.location {
  background-color: $lightGray-color;
  display: flex;
  box-shadow: map-get($shadow , shadow-location);
  gap: map-get($gap , gap-base);
  justify-content: center;
  padding: map-get($padding , medium);

  &:hover {
    transform: scale(1.0);
    transition-delay: 0.5s;
    cursor: pointer;
  }
}

//-------------Navigation Card---------------//

.navigation-card {
  @include card;
  display: flex;
  // align-items: start;
  // justify-content: start;
  background-color: $lightGray-color;
  line-height: 20px;
  gap: map-get($gap , gap-medium);
  margin: 20px;
  padding: 5px;
  width: 500px;

}

  .navigation-number {
    display: grid;
    flex-direction: column;
    place-items: center;
    position: relative;
    background-color: $primary-color;
    border-radius: 100%;
    color: $base-white-color;
    height: map-get($height , header-height);
    left: calc(map-get($width, header-width) / 2 * -1);
    width: map-get($width, header-width);
    z-index: 5;
  }

  .navigation-description {
    align-items: center;
    border-radius: map-get($round, round-base);
    display: flex;
    gap: map-get($gap, gap-base);
    height: map-get($height , base-height);
    overflow: hidden;
    padding: map-get($padding , base);
    padding-right: map-get($gap, gap-base);
    position: relative;
    width: map-get($width , base-width);
  }

  .navigation-icon {
    display: flex;
    min-width: 6rem;
  }

  // .navigation-text {
  //   z-index: 10;
  // }

  .navigation-background {
    background-color: $lightSecondary-color;
    height: map-get($height , base-height );
    left: -3rem;
    position: absolute;
    top: 0;
    transform: skewX(-45deg);
    transition: all 0.5s ease-in-out;
    width: 0;
    z-index: 9;

    &:hover {
      width: 150%;
    }
  }

