
@import "../utilities/variables";

$height: 6rem;
$width: 6rem;

//-----------------------Spinning Animation--------------------------//
.load-animation {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: whitesmoke;
  animation: opacity-hide 2s forwards, width-hide 2s forwards;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  //-------------------------Spinning Loader Icon---------------------------------------//
  .spinning-loader {
    display: inline-block;
    size: 5em;
    height: $height;
    width: $width;
  
    &-title {
      animation: fade-in 0.9s alternate-reverse infinite;
    }
  }
  .spinning-loader::after {
    display: block;
    border-color: $primary-color transparent $secondary-color
    transparent;
    animation: spinning-loader 0.8s ease-in-out infinite;
    height: $height;
    width: $width;
    border: 0.7rem solid white;
    border-radius: 45%;
    content: "";
  }

  @keyframes spinning-loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }