
// Mixins
@mixin card {
  border-radius: map-get($round , round-base);
  box-shadow: map-get($shadow , shadow-base);
  cursor: pointer;
  position: relative;
}

@mixin backdrop-card {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: map-get($round , round-base);
}

@mixin container {
  display: flex;
  flex-direction: column;
  gap: map-get($gap , gap-medium);
  padding: map-get($padding , xlarge) map-get($padding , medium);
}

@mixin tablet {
  @media (min-width: $size-tablet) {
    @content;
  }
}

@mixin desktop-small {
  @media (min-width: $size-small-desktop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $size-desktop) {
    @content;
  }
}
