@import "../utilities/variables";

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      $secondary-color,
      $primary-color,
    );
    border-radius: map-get($round , round-large);
    box-shadow: map-get($shadow , shadow-base);
    color: $base-white-color;
    padding: map-get($padding , btn-01);
    transition: $transition-all-fast;
    width: fit-content;
  
    &--bold {
      font-weight: 400;
    }
  
    &:hover {
      background-image: linear-gradient(
        $secondary-color,
        $primary-color
      );
  
      box-shadow: map-get($shadow , shadow-down);
      transform: translate(2px, 2px);
    }
  
    &:active {
      box-shadow: map-get($shadow , shadow-active);
      transform: translate(3px, 3px);
    }
  }

  .btn-index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      $secondary-color,
      $primary-color,
    );
    border-radius: map-get($round , round-large);
    box-shadow: map-get($shadow , shadow-base);
    color: $base-white-color;
    padding: map-get($padding , btn-01);
    transition: $transition-all-fast;
    width: fit-content;
  
    &--bold {
      font-weight: 400;
    }
  
    &:hover {
      background-image: linear-gradient(
        $secondary-color,
        $primary-color
      );
  
      box-shadow: map-get($shadow , shadow-down);
      transform: translate(2px, 2px);
    }
  
    &:active {
      box-shadow: map-get($shadow , shadow-active);
      transform: translate(3px, 3px);
    }

  }