@import "../utilities/variables";

//----------------Menu Card-----------//

.menu-card {
  @include card;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color:map-get($basic-color, light);

  &-info {
    flex: 1 1 0;
    min-width: 0;
    padding: map-get($padding, small);
  }
  &-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-price {
    padding: map-get($padding, small);
  }
  &-button {
    align-items: center;
    align-self: stretch;
    background-color: $tertiary-color;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: $transition-all-slow;
    width: 0rem;
  }
  &-icon {
    color: map-get($basic-color, light);
    font-size: 3rem;
  }
  &:hover &-button {
    width: 8rem;
  }

  &:hover &-button > i {
    animation: rotate var(--slow);
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.menu-container {
  background-color: map-get($basic-color , lightGray );
  border-radius: map-get($round, round-medium) map-get($round, round-medium)  0 0;
  margin-top: calc(map-get($round, round-medium) * -1);
  min-height: 50rem;
  position: relative;
  @include container;
  @include tablet {
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
  }
  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, minmax(35rem, 33%));
    max-width: 192rem;
  }
}

.components {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem 3rem;
}

//----------------Restaurant Card-----------//

.restaurant-main {
  background-color: map-get($basic-color , white );
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &-header {
    position: relative;
  }
  &-img {
    height: 18rem;
    object-fit: cover;
    width: 100%;
  }
  &-new {
    background-color: $tertiary-color;
    border-radius:  map-get($round , small);
    color: $tertiary-color;
    padding: map-get($padding , btn-02);
    position: absolute;
    right: map-get($padding , small);
    top: map-get($padding , small);
  }
  &-info {
    align-items: center;
    display: grid;
    gap: map-get($gap , medium);
    grid-template-columns: 1fr min-content;
    height: 100%;
    justify-content: space-between;
    padding: map-get($padding , small);
    position: relative;
    & > .heart {
      margin-right: 2rem;
    }
  }

  &::before {
    background-image: linear-gradient(
      to right,
      $primary-color,
      $secondary-color,
    );
    bottom: 0;
    content: "";
    display: inline-block;
    height: 0%;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: $transition-all-fast;
    width: 100%;
  }

  &:hover {
    &::before {
      height: 1rem;
    }
  }
}

