@import "../utilities/variables";

//----------------Menu Card-----------//
b {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  margin: -42px 0 10px 10px;
}

.menu-card {
  @include card;
  @include desktop;
  display: grid;
  flex-direction: column;

  background-color:map-get($basic-color, lightGray);
  padding: 25px 80px 25px 20px;
  line-height: 40px;

  &-info {
    flex: 1 1 0;
  }
  // &-title {
  //   // overflow: hidden;
  //   // text-overflow: ellipsis;
  //   // white-space: nowrap;
  // }
  // &-description {
  //   // overflow: hidden;
  //   // text-overflow: ellipsis;
  // }
}
  .menu-button {
    display: flex;
    justify-content: center;
    align-self: stretch;
    background-color: $tertiary-color;
    overflow: hidden;
    transition: $transition-all-slow;
    height: 100%;
    width: 100%;
    &:hover {
      width: 10rem;
    }
    &:hover {
      animation: rotate $transition-all-slow;
    }
  }

 .menu-icon {
  display: flex;
  color: map-get($basic-color, light);
  font-size: 3.1rem;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.menu-page-ctn {
  background-color: map-get($basic-color , lightGray );
  // border-radius: 90px;
  // margin: calc(6 * -1);
  // min-height: 50rem;
  // position: relative;
  @include container;
  @include tablet {
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
  }
  // @include desktop {
  //   display: flex;
  //   grid-template-columns: repeat(3, minmax(35rem, 33%));
  //   max-width: 90rem;
  //   // background-color: map-get($basic-color , lightGray );
  //   // border-radius: 90px;
  // }
}

//----------------Restaurant Card-----------//

.restaurant-main {
  background-color: map-get($basic-color , light );
  border-radius: 5rem;
  -webkit-box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.3);
  height: 15rem;
  width: 20rem;
  transition: transform 400ms;
  // display: flex;
  // flex-direction: column;
  // overflow: hidden;

  &-header {
    position: relative;
  }
  &-img {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 450px;
    object-fit: cover;
    width: 100%;
  }
  &-new {
    position: absolute;
    background-color: $tertiary-color;
    border-radius:  map-get($round , small);
    color: $tertiary-color;
    padding: map-get($padding , btn-02);
    right: map-get($padding , small);
    top: map-get($padding , padding-menu-new);
    color: black;
  }
  &-info {
    align-items: center;
    display: grid;
    gap: map-get($gap , medium);
    grid-template-columns: 1fr min-content;
    height: 100%;
    justify-content: space-between;
    padding: map-get($padding , small);
    position: relative;
  }
    &-heart {
      margin-right: 2rem;
    }
  }

  .restaurants-main {
    background-color: map-get($basic-color , lightGray );
}

