@import "../utilities/variables";

//-------------Main - Restaurants Cards---------------//

.restaurant-card {
  @include navigation;
  background-color: $base-white-color;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &-header {
    position: relative;
  }
  &-picture {
    height: 18rem;
    object-fit: cover;
    width: 100%;
  }
  &-new {
    background-color: $tertiary-color;
    border-radius: map-get($round , round-small);
    color: $darkTertiary-color;
    padding: map-get($padding , btn-02);
    position: absolute;
    right: map-get($padding , small);
    top: map-get($padding , small);
    box-shadow: map-get($shadow , shadow-active);
  }
  &-description {
    align-items: center;
    display: grid;
    gap: map-get($gap , gap-medium);
    grid-template-columns: 1fr min-content;
    height: map-get($height , base-height);
    justify-content: space-between;
    padding: map-get($padding , small);
    position: relative;
    & > .heart {
      margin-right: 2rem;
    }
  }

  &::before {
    background-image: linear-gradient(
      to right,
      $primary-color,
      $secondary-color,
    );
    bottom: 0;
    content: "";
    display: inline-block;
    height: 0%;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: $transition-all-fast;
    width: map-get($width , base-width);
  }

  &:hover {
    transform: scale(0.9);
    transition-delay: 0.5s;
    cursor: pointer;
    &::before {
      height: 0.4rem;
    }
  }
}

//-------------Menu Cards---------------//

.menu-item {
@include navigation;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: map-get($round , round-base);
  background-color: $base-white-color;

  &-text {
    flex: 1 1 0;
    min-width: 0;
    padding: map-get($padding , small);
  }
  &-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-price {
    padding: map-get($padding , small);
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
    background-color: $tertiary-color;
    transition: $transition-all-slow;
    width: 0rem;
  }
  &-icon {
    color: $base-white-color;
    font-size: 3rem;
  }
  &:hover &-button {
    width: 7.8rem;
  }

  &:hover &-button i {
    animation: rotate $transition-all-slow;
    transform: scale(0.9);
    transition-delay: 0.5s;
    cursor: pointer;
  }
}
