@import "../utilities/variables";

$heart-size: 1.5em;

.heart {
  display: grid;
  position: relative;
  overflow: hidden;
  place-items: center;
  clip-path: url(#heart__clip);
  cursor: pointer;
  height: $heart-size;
  width: $heart-size;
  
    &-svg {
      position: absolute;
    }
  
    &-main {
      display: grid;
      place-items: center;
      height: $heart-size;
      width: $heart-size;
    }
  
    &-emp {
      fill: transparent;
      height: $heart-size;
      width: $heart-size;
      stroke: black;
      stroke-width: 6px;
    }

    &-fill {
      background-image: linear-gradient(
       $primary-color,
       $secondary-color,
      );
      position: absolute;
      border-radius: 36%;
      bottom: -100%;
      height: 110%;
      width: 108%;
    }

    &:hover &-fill {
      animation: wave 2s forwards, wave-up 2s forwards;
    }
  }
