@import "../utilities/variables";
@import "../utilities/heartAnimation";

$heart-size: 1.5em;

.heart {
  display: grid;
  position: relative;
  overflow: hidden;
  place-items: center;
  clip-path: url(#heart__clip);
  cursor: pointer;
  height: $heart-size;
  width: $heart-size;
  
    &-svg {
      position: absolute;
    }
  
    &-main {
      display: flex;
      place-items: center;
      height: $heart-size;
      width: $heart-size;
    }
  
    &-emp {
      fill:transparent;
      height: $heart-size;
      width: $heart-size;
      stroke: black;
      stroke-width: 7px;
    }

    &:hover  {
      background-image: linear-gradient(
        $primary-color,
        $secondary-color,
       );
      animation: wave 2s forwards, wave-up 2s forwards;
      border-radius: 100%;
    }

    &-fill {
      background-image: linear-gradient(
        $primary-color,
        $secondary-color,
       );
      animation: wave 2s forwards, wave-up 2s forwards;
      border-radius: 100%;
    }
  }

  @keyframes wave {
    0% {
      transform: rotate(0);
    }
    70% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes wave-up {
    0% {
      bottom: -0%;
    }
    100% {
      bottom: 0;
    }
  }
