@import "../utilities/variables";

.heart {
  clip-path: url(#heart__clip);
  cursor: pointer;
  display: grid;
  height: map-get($size , heart-size);
  overflow: hidden;
  place-items: center;
  position: relative;
  width: map-get($size , heart-size);

  &-img {
    position: absolute;
  }

  &-base {
    display: grid;
    height: map-get($size , heart-size);
    place-items: center;
    width: map-get($size , heart-size);
  }

  &-empty {
    fill: transparent;
    height: map-get($size , heart-size);
    stroke: $base-black-color;
    stroke-width: 7px;
    width: map-get($size , heart-size);
  }

  &-full {
    background-image: linear-gradient(
      $primary-color,
      $secondary-color,
    );
    border-radius: 38%;
    bottom: -100%;
    height: 110%;
    position: absolute;
    width: 110%;
  }

  &:hover &-full {
    animation: wave 0.1s forwards, wave-up 0.1s forwards;
  }
}