@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 60%;
}
@media (min-width: 1400px) {
  html {
    font-size: 70%;
  }
}

body {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2.1rem;
  font-weight: 100;
}

.h1 .menu-text {
  font-family: "Shrikhand", sans-serif;
  font-style: oblique;
  font-size: 20rem;
  font-weight: 80;
}

.menu-section .menu-section-title {
  font-size: 25px;
  font-weight: 80;
  text-transform: uppercase;
}

.menu-section .h3.h4 {
  font-size: 100rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 2.1rem;
  font-weight: 380;
}

.menu-price {
  font-weight: bold;
}

.restaurant-card {
  font-weight: 450;
}

.location,
.header-location {
  font-size: 1.7rem;
  font-weight: 400;
  text-indent: 10px;
}

.step-text {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 4.1rem;
}

.spinning-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 5.2rem;
  font-weight: 100;
}

.footer-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 2.2rem;
  font-weight: 100;
  line-height: 50px;
}
.footer-info {
  font-size: 1.8rem;
  line-height: 30px;
  padding-left: 2px;
}

.heart {
  display: grid;
  position: relative;
  overflow: hidden;
  place-items: center;
  clip-path: url(#heart__clip);
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
}
.heart-svg {
  position: absolute;
}
.heart-main {
  display: grid;
  place-items: center;
  height: 1.5em;
  width: 1.5em;
}
.heart-emp {
  fill: transparent;
  height: 1.5em;
  width: 1.5em;
  stroke: black;
  stroke-width: 6px;
}
.heart-fill {
  background-image: linear-gradient(#9356DC, #FF79DA);
  position: absolute;
  border-radius: 36%;
  bottom: -100%;
  height: 110%;
  width: 108%;
}
.heart:hover .heart-fill {
  animation: wave 2s forwards, wave-up 2s forwards;
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
@keyframes wave-up {
  0% {
    bottom: -80%;
  }
  100% {
    bottom: 0;
  }
}
.spinning-animation {
  align-items: center;
  animation: opacity-hide 2s forwards, width-hide 2s forwards;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.spinning-loader {
  display: inline;
  size: 6rem;
  height: 6rem;
  width: 6rem;
}
.spinning-loader-title {
  animation: fade-in 2s alternate-reverse infinite;
}

.spinning-loader::after {
  animation: spinning-loader 1s ease-in-out infinite;
  border: 0.7rem solid white;
  border-color: #9356DC transparent #FF79DA transparent;
  border-radius: 50%;
  content: "";
  display: block;
  height: 6rem;
  width: 6rem;
}

@keyframes spinning-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 9rem;
  box-shadow: 4px 4px 9px #000004;
  padding: 2rem 3rem;
  transition: all var(--fast) ease-in-out;
  width: fit-content;
}
.btn-bold {
  font-weight: 300;
}
.btn:active {
  box-shadow: 4px 4px 4px #000007;
  transform: translate(2.8px, 2.8px);
}
.btn:hover {
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 4px 4px 5.8px #000006;
  transform: translate(1.9px, 1.9px);
}

.menu-card {
  position: relative;
  border-radius: 2rem;
  box-shadow: 4px 4px 9px #000004;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: white;
}
.menu-card-info {
  flex: 1 1 0;
  min-width: 0;
  padding: 1.4rem;
}
.menu-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-card-price {
  padding: 1.4rem;
}
.menu-card-button {
  align-items: center;
  align-self: stretch;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: all var(--slow) ease-in-out;
  width: 0rem;
}
.menu-card-icon {
  color: white;
  font-size: 3rem;
}
.menu-card:hover .menu-card-button {
  width: 8rem;
}
.menu-card:hover .menu-card-button > i {
  animation: rotate var(--slow);
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.menu-container {
  border-radius: 6rem 6rem 0 0;
  margin-top: -6rem;
  min-height: 50rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 4.1rem;
}
@media (min-width: 768px) {
  .menu-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
  }
}
@media (min-width: 1400px) {
  .menu-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(35rem, 33%));
    max-width: 192rem;
  }
}

.components {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem 3rem;
}

.restaurant-main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.restaurant-main-header {
  position: relative;
}
.restaurant-main-img {
  height: 18rem;
  object-fit: cover;
  width: 100%;
}
.restaurant-main-new {
  background-color: #99E2D0;
  color: #99E2D0;
  padding: 0.5rem 3rem;
  position: absolute;
  right: 1.4rem;
  top: 1.4rem;
}
.restaurant-main-info {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr min-content;
  height: 100%;
  justify-content: space-between;
  padding: 1.4rem;
  position: relative;
}
.restaurant-main-info > .heart {
  margin-right: 2rem;
}
.restaurant-main::before {
  background-image: linear-gradient(to right, #9356DC, #FF79DA);
  bottom: 0;
  content: "";
  display: inline-block;
  height: 0%;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: all var(--fast) ease-in-out;
  width: 100%;
}
.restaurant-main:hover::before {
  height: 1rem;
}

.header {
  box-shadow: 4px 4px 9px #000004;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding-bottom: 1.4rem;
  padding-top: 2.2rem;
  place-items: center;
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  .header-home {
    grid-template-columns: 0 1fr 1fr;
  }
}
.header-title {
  display: grid;
  justify-content: start;
  padding: 9px 2.2rem;
  width: 100%;
}
.header-logo {
  height: 100%;
}
.header-location {
  display: none;
}
@media (min-width: 768px) {
  .header-location {
    display: flex;
    justify-self: end;
    padding: 0 10px 0 10px;
  }
}

.location {
  display: grid;
  grid-template-rows: auto;
  grid-auto-flow: row;
  justify-content: center;
  padding: 3.1rem;
}
@media (min-width: 768px) {
  .location {
    display: none;
  }
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 4.1rem;
}
@media (min-width: 768px) {
  .footer {
    align-items: center;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
}
.footer-list-info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}
.footer-list-info-icon {
  min-width: 2.5rem;
}

@keyframes width-hide {
  0% {
    width: 100%;
  }
  99% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes opacity-hide {
  0% {
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes translate-up {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade-in-bounce {
  0% {
    opacity: 0%;
    transform: translateY(-20px);
  }
  40% {
    opacity: 50%;
    transform: translateY(5px);
  }
  80% {
    opacity: 100%;
    transform: translateY(-2px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@media (min-width: 1400px) {
  .top-wrapper {
    align-items: center;
    background-image: url(../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
    height: auto;
    justify-content: center;
    padding: 3.1rem;
  }
}

.exploring {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4.1rem 0;
  text-align: center;
}
.exploring-title {
  padding-bottom: 4.1rem;
}
.exploring-text {
  padding-bottom: 3.1rem;
}
@media (min-width: 1400px) {
  .exploring {
    display: flex;
    flex-direction: column;
    padding: 4.1rem;
    border-radius: 2rem;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.card-base {
  position: relative;
  border-radius: 2rem;
  box-shadow: 4px 4px 9px #000004;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-left: 1.5rem;
}
.card-base-number {
  background-color: #9356DC;
  border-radius: 50%;
  display: grid;
  height: 3rem;
  left: -1.5rem;
  place-items: center;
  position: absolute;
  width: 3rem;
  z-index: 10;
}
.card-base-info {
  align-items: center;
  border-radius: 2rem;
  display: flex;
  gap: 2rem;
  height: 100%;
  overflow: hidden;
  padding: 10rem;
  padding-right: 2rem;
  position: relative;
  width: 100%;
}
.card-base-icon {
  color: gray;
  font-size: 2.5rem;
  min-width: 6.35rem;
  padding-left: 3.5rem;
  z-index: 10;
}
.card-base-text {
  z-index: 10;
}
.card-base-background {
  background-color: #9356DC;
  height: 100%;
  left: -3rem;
  position: absolute;
  top: 0;
  transform: skewX(-45deg);
  transition: all 0.5s ease-in-out;
  width: 0;
  z-index: 9;
}
.card-base:hover .card-base-background {
  width: 150%;
}
.card-base:hover .card-base-icon {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 4.1rem;
}
@media (min-width: 768px) {
  .restaurants-title {
    text-align: center;
  }
}

.restaurant-wrapper {
  display: flex;
  flex-direction: column;
  padding: 4.1rem;
  padding: 0;
}
@media (min-width: 768px) {
  .restaurant-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1400px) {
  .restaurant-wrapper {
    align-self: center;
    grid-template-columns: repeat(4, minmax(25rem, 45rem));
    max-width: 192rem;
  }
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.4rem 0;
}
.menu-section-title::after {
  border-bottom: 0.4rem solid #99E2D0;
  content: " ";
  display: none;
  margin-top: 0.5rem;
  width: 7rem;
}

.top-image {
  height: 25rem;
  object-fit: cover;
  width: 100%;
}

.menu-title {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr min-content;
}
.menu-title-heart {
  margin-right: 2rem;
}
@media (min-width: 1400px) {
  .menu-title {
    grid-column-end: 4;
    grid-column-start: 1;
  }
}

.menu-container {
  margin: 0 auto;
  margin-bottom: 4.1rem;
  margin-top: 2.2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
@media (min-width: 1400px) {
  .menu-container {
    grid-column-end: 4;
    grid-column-start: 1;
  }
}

.btn {
  margin: 0 auto;
  margin-bottom: 4.1rem;
  margin-top: 2.2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
@media (min-width: 1400px) {
  .btn {
    grid-column-end: 4;
    grid-column-start: 1;
  }
}

.menu-container > :nth-child(2) {
  animation: fade-in 0.4s forwards;
  animation-delay: 0s;
  opacity: 0%;
}
.menu-container > :nth-child(2) > :nth-child(1) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(2) > :nth-child(2) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 0.4s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(2) > :nth-child(3) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 0.8s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(2) > :nth-child(4) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(2) > :nth-child(5) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 1.6s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}

.menu-container > :nth-child(3) {
  animation: fade-in 0.4s forwards;
  animation-delay: 2s;
  opacity: 0%;
}
.menu-container > :nth-child(3) > :nth-child(1) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(3) > :nth-child(2) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 2.4s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(3) > :nth-child(3) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 2.8s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(3) > :nth-child(4) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 3.2s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(3) > :nth-child(5) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 3.6s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}

.menu-container > :nth-child(4) {
  animation: fade-in 0.4s forwards;
  animation-delay: 4s;
  opacity: 0%;
}
.menu-container > :nth-child(4) > :nth-child(1) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 4s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(4) > :nth-child(2) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 4.4s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(4) > :nth-child(3) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 4.8s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(4) > :nth-child(4) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 5.2s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(4) > :nth-child(5) {
  animation: fade-in 0.4s forwards, translate-up 0.8s forwards;
  animation-delay: 5.6s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}

/*# sourceMappingURL=style.css.map */
