@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@keyframes width-hide {
  0% {
    width: 100%;
  }
  99% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes opacity-hide {
  0% {
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes translate-up {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade-in-bounce {
  0% {
    opacity: 0%;
    transform: translateY(-20px);
  }
  25% {
    opacity: 50%;
    transform: translateY(5px);
  }
  50% {
    opacity: 100%;
    transform: translateY(-2px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes wave-up {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes spinning-loader {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu-container > :nth-child(2) {
  animation: fade-in 0.5s forwards;
  animation-delay: 0s;
  opacity: 0%;
}
.menu-container > :nth-child(2) > :nth-child(1) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(2) > :nth-child(2) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(2) > :nth-child(3) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(2) > :nth-child(4) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(2) > :nth-child(5) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(2) > :nth-child(6) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}

.menu-container > :nth-child(3) {
  animation: fade-in 0.5s forwards;
  animation-delay: 2.5s;
  opacity: 0%;
}
.menu-container > :nth-child(3) > :nth-child(1) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(3) > :nth-child(2) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(3) > :nth-child(3) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 3.5s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(3) > :nth-child(4) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 4s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(3) > :nth-child(5) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 4.5s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(3) > :nth-child(6) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 5s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}

.menu-container > :nth-child(4) {
  animation: fade-in 0.5s forwards;
  animation-delay: 5s;
  opacity: 0%;
}
.menu-container > :nth-child(4) > :nth-child(1) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 5s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(4) > :nth-child(2) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 5.5s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(4) > :nth-child(3) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 6s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(4) > :nth-child(4) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 6.5s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(4) > :nth-child(5) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 7s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}
.menu-container > :nth-child(4) > :nth-child(6) {
  animation: fade-in 0.5s forwards, translate-up 1s forwards;
  animation-delay: 7.5s;
  animation-timing-function: ease-in-out;
  opacity: 0%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media (min-width: 1400px) {
  html {
    font-size: 70%;
  }
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

footer {
  padding: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.location {
  font-size: 1.7rem;
  font-weight: 500;
}

.navigation-description {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(26, 26, 26);
}
.navigation-description-icon {
  color: rgb(26, 26, 26);
  font-size: 2.5rem;
}

.loader-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 5rem;
  font-weight: 100;
}

.restaurant-name {
  font-size: 25px;
  color: black;
  text-decoration: transparent;
  line-height: 45px;
}

.restaurant-location {
  font-size: 20px;
  color: black;
  text-decoration: transparent;
}

.restaurant-card-new {
  font-weight: 500;
}

.menu-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 35px;
  font-weight: lighter;
  font-style: oblique;
}

.menu-background-title {
  font-weight: normal;
  text-transform: uppercase;
}

.menu-item-price {
  font-weight: bold;
}

.menu-item-title {
  font-size: 22px;
  line-height: 40px;
}
.menu-item-info {
  font-size: 18px;
  font-weight: 100;
}

.footer-logo {
  font-family: "Shrikhand", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 2.5rem;
}
.footer-title {
  font-family: "Shrikhand", sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 100;
}
.footer-description {
  color: white;
  font-size: 1.8rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 9rem;
  box-shadow: 3.5px 3.5px 9.5px #000004;
  color: white;
  padding: 2rem 3rem;
  transition: all var(--fast) ease-in-out;
  width: fit-content;
}
.btn--bold {
  font-weight: 400;
}
.btn:hover {
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 3.5px 3.5px 5.5px #000006;
  transform: translate(2px, 2px);
}
.btn:active {
  box-shadow: 3.5px 3.5px 3.5px #000008;
  transform: translate(3px, 3px);
}

.btn-index {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 9rem;
  box-shadow: 3.5px 3.5px 9.5px #000004;
  color: white;
  padding: 2rem 3rem;
  transition: all var(--fast) ease-in-out;
  width: fit-content;
}
.btn-index--bold {
  font-weight: 400;
}
.btn-index:hover {
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 3.5px 3.5px 5.5px #000006;
  transform: translate(2px, 2px);
}
.btn-index:active {
  box-shadow: 3.5px 3.5px 3.5px #000008;
  transform: translate(3px, 3px);
}

.restaurant-card {
  border-radius: 2rem;
  box-shadow: 3.5px 3.5px 9.5px #000004;
  cursor: pointer;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.restaurant-card-header {
  position: relative;
}
.restaurant-card-picture {
  height: 18rem;
  object-fit: cover;
  width: 100%;
}
.restaurant-card-new {
  background-color: #99E2D0;
  border-radius: 0.5rem;
  color: #0f614c;
  padding: 0.5rem 3rem;
  position: absolute;
  right: 1.4rem;
  top: 1.4rem;
}
.restaurant-card-description {
  align-items: center;
  display: grid;
  gap: 2.6rem;
  grid-template-columns: 1fr min-content;
  height: 100%;
  justify-content: space-between;
  padding: 1.4rem;
  position: relative;
}
.restaurant-card-description > .heart {
  margin-right: 2rem;
}
.restaurant-card::before {
  background-image: linear-gradient(to right, #9356DC, #FF79DA);
  bottom: 0;
  content: "";
  display: inline-block;
  height: 0%;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: all var(--fast) ease-in-out;
  width: 100%;
}
.restaurant-card:hover {
  transform: scale(0.9);
  transition-delay: 0.5s;
  cursor: pointer;
}
.restaurant-card:hover::before {
  height: 0.4rem;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2rem;
  background-color: white;
}
.menu-item-text {
  flex: 1 1 0;
  min-width: 0;
  padding: 1.4rem;
}
.menu-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item-price {
  padding: 1.4rem;
}
.menu-item-button {
  align-items: center;
  align-self: stretch;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: all var(--slow) ease-in-out;
  width: 0rem;
}
.menu-item-icon {
  color: white;
  font-size: 3rem;
}
.menu-item:hover .menu-item-button {
  width: 8rem;
}
.menu-item:hover .menu-item-button i {
  animation: rotate all var(--slow) ease-in-out;
  transform: scale(0.9);
  transition-delay: 0.5s;
  cursor: pointer;
}

.heart {
  clip-path: url(#heart__clip);
  cursor: pointer;
  display: grid;
  height: 3.5rem;
  overflow: hidden;
  place-items: center;
  position: relative;
  width: 3.5rem;
}
.heart-img {
  position: absolute;
}
.heart-base {
  display: grid;
  height: 3.5rem;
  place-items: center;
  width: 3.5rem;
}
.heart-empty {
  fill: transparent;
  height: 3.5rem;
  stroke: black;
  stroke-width: 7px;
  width: 3.5rem;
}
.heart-full {
  background-image: linear-gradient(#9356DC, #FF79DA);
  border-radius: 38%;
  bottom: -100%;
  height: 110%;
  position: absolute;
  width: 110%;
}
.heart:hover .heart-full {
  animation: wave 0.1s forwards, wave-up 0.1s forwards;
}

.footer {
  background-color: rgb(26, 26, 26);
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
  }
}
.footer-logo {
  padding: 30px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.6rem;
}
@media (min-width: 768px) {
  .footer-list {
    gap: 1px;
  }
}
.footer-description {
  position: relative;
  width: fit-content;
}
.footer-description:hover {
  transform: scale(0.9);
  transition-delay: 0.5s;
  cursor: pointer;
}
.footer-description::after {
  background-image: linear-gradient(#9356DC, #FF79DA);
  content: "";
  margin-left: -1rem;
  transition: all var(--fast) ease-in-out;
  width: 0%;
  height: 4px;
}
.footer-icon {
  min-width: 2.2rem;
}

.page-header-main {
  display: flex;
  background-color: white;
  box-shadow: 3.5px 3.5px 9.5px #000004;
  grid-template-columns: 1fr min-content 1fr;
  padding: 20px 20px 20px 10px;
}
.page-header-main-title {
  display: grid;
  justify-content: start;
  padding: 0 2.2rem;
  width: 100%;
}
.page-header-main-logo {
  display: grid;
  align-items: start;
  justify-content: start;
  height: 100%;
}
.page-header-main-link {
  display: flex;
  justify-self: center;
  font-size: 2.5rem;
}

.arrow {
  display: flex;
  align-items: start;
  padding-right: 100px;
  margin-top: 18px;
}
.arrow:hover {
  transform: scale(0.9);
  transition-delay: 0.5s;
  cursor: pointer;
}

.page-header-menu {
  display: flex;
  align-items: start;
  justify-content: center;
  justify-content: center;
  background-color: white;
  box-shadow: 3.5px 3.5px 9.5px #000004;
  padding: 20px 60px 20px 0;
}
.location {
  background-color: rgb(211, 211, 211);
  display: flex;
  box-shadow: 2px 2px 2px 2px #afadad;
  gap: 2rem;
  justify-content: center;
  padding: 2.2rem;
}
.location:hover {
  transform: scale(1);
  transition-delay: 0.5s;
  cursor: pointer;
}

.navigation-card {
  border-radius: 2rem;
  box-shadow: 3.5px 3.5px 9.5px #000004;
  cursor: pointer;
  position: relative;
  display: grid;
  align-items: center;
  background-color: rgb(211, 211, 211);
  gap: 2rem;
  margin: 20px;
}

.navigation-number {
  display: grid;
  place-items: center;
  position: absolute;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  height: 3rem;
  left: -1.5rem;
  width: 3rem;
  z-index: 10;
}

.navigation-description {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  gap: 2rem;
  height: 100%;
  padding: 20px;
  width: 100%;
}
.navigation-description:hover {
  background-color: #e9d8ff;
  height: 100%;
  top: 0;
  transform: skewX(1deg);
  transition: all 0.5s ease-in-out;
  z-index: 1;
  transform: scale(1);
  transition-delay: 0.5s;
  cursor: pointer;
}

.navigation-icon {
  color: gray;
  font-size: 2.5rem;
  min-width: 4rem;
  padding: 0.6rem;
  z-index: 10;
}
.navigation-icon:hover {
  color: #9356DC;
}

.navigation-text {
  z-index: 10;
}

.loader {
  display: inline-block;
  height: 5rem;
  width: 5rem;
}
.loader-title {
  animation: fade-in 0.6s alternate-reverse infinite;
}

.loader::after {
  display: block;
  content: "";
  animation: spinning-loader 0.8s ease-in-out infinite;
  border: 0.4rem solid white;
  border-color: #9356DC transparent #FF79DA transparent;
  border-radius: 70%;
  height: 5rem;
  width: 5rem;
  margin-top: 20px;
}

.loading-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  animation: opacity-hide 2s forwards, width-hide 2s forwards;
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  z-index: 100;
}

@media (min-width: 1400px) {
  .top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    gap: 20rem;
    height: auto;
    padding: 9.3rem 2.2rem;
  }
}

.explore {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 4.1rem 0;
}
.explore-title {
  padding-bottom: 4.1rem;
}
.explore-description {
  padding-bottom: 3.1rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  padding: 4.1rem 2.2rem;
}
@media (min-width: 768px) {
  .navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .navigation-title {
    grid-column-end: 4;
    grid-column-start: 1;
    text-align: center;
  }
}
@media (min-width: 1400px) {
  .navigation {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    padding: 4.1rem 2.2rem;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 2rem;
  }
}

.restaurants-section {
  background-color: rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  padding: 4.1rem 2.2rem;
}
@media (min-width: 768px) {
  .restaurants-section > .title {
    text-align: center;
  }
}

.restaurants-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  padding: 4.1rem 2.2rem;
  padding: 0;
}
@media (min-width: 768px) {
  .restaurants-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media (min-width: 1400px) {
  .restaurants-wrapper {
    align-self: center;
    grid-template-columns: repeat(4, minmax(25rem, 45rem));
    max-width: 192rem;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 211, 211);
  border-radius: 6rem 6rem 0 0;
  margin-top: -6rem;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  padding: 4.1rem 2.2rem;
}
@media (min-width: 768px) {
  .menu-container {
    max-width: 800rem;
  }
}
@media (min-width: 1400px) {
  .menu-container {
    grid-template-columns: repeat(3, minmax(35rem, 33%));
    max-width: 200rem;
  }
}

.top-image {
  height: 40rem;
  object-fit: cover;
  object-position: right 66%;
  width: 100%;
}

.menu-title {
  display: inline-flex;
  justify-content: space-around;
}
.menu-title .heart {
  display: flex;
  justify-content: space-around;
  margin-left: 5rem;
}
@media (min-width: 1400px) {
  .menu-title {
    grid-column-end: 4;
    grid-column-start: 1;
  }
}

.menu-background {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  border-radius: 6rem;
  padding: 1.4rem 0;
}
.menu-background-title::after {
  border-bottom: 0.3rem solid #99E2D0;
  content: " ";
  display: block;
  margin-top: 0.3rem;
  width: 6rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 40px 90px;
  padding-left: 10rem;
  padding-right: 10rem;
}

/*# sourceMappingURL=style.css.map */
