*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @include desktop {
    font-size: 70%;
  }
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

footer {
  padding: none;
}