//fonts and sizes
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import "../utilities/variables";

body {
font-family: "Roboto", sans-serif;
font-size: 1.95rem;
font-weight: 100;
}

.h1 .menu-description {
font-family: "Shrikhand", sans-serif;
font-style: oblique;
font-size: 20rem;
font-weight: 80;
}

.menu-section .menu-section-title {
font-size: 25px;
font-weight: 80;
text-transform: uppercase;
}

.menu-text {
    font-size: 35px;
    font-style: oblique;
    font-weight: 900;
}

.menu-section .h3.h4 {
font-size: 100rem;
}

.button {
font-family:"Roboto", sans-serif;
font-size: 2rem;
font-weight: 380;
}

.btn {
font-size: 20px;
color: map-get($basic-color , light );
font-weight: 600;
}

.btn-bold {
    font-weight: 300;
    }

.card-price {
font-weight: bold;
}

.restaurant-main {
font-weight: 450;
}

.location
.header-location {
font-size: 1.7rem;
font-weight: 400;
}

.card-text {
font-size: 2rem;
font-weight: 400;
}

.spinning-title {
font-family: "Shrikhand", sans-serif;
font-size: 5.2rem;
font-weight: 100;
}

.footer {
&-title {
font-family: "Shrikhand", sans-serif;
font-size: 2.4rem;
font-weight: 100;
line-height: 50px;
}

&-info {
font-size: 2rem;
line-height: 30px;
padding-left: 2px;
font-weight: 380;
}
}