//everything with have to do with the index, besides the header and the footer
@import "../utilities/variables";
//---------------------Explore Restaurant & Menus----------------------//

.top {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    gap: map-get($gap , gap-index);
    height: auto;
    padding: calc(map-get($padding, large) * 3) map-get($padding, medium);
  }
}

.explore {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: map-get($padding, xlarge) 0;

  &-title {
    padding-bottom: map-get($padding, xlarge)
  }

  &-description {
    padding-bottom: map-get($padding, large)
  }

}

.navigation {
  @include container;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    &-title {
      grid-column-end: 4;
      grid-column-start: 1;
      text-align: center;
    }
  }

  @include desktop {
    @include container;
    @include backdrop-card;
  }
}

.restaurants-section {
  background-color: $lightGray-color;
  @include container;

  & > .title {
    @include tablet {
      text-align: center;
    }
  }
}

.restaurants-wrapper {
  @include container;
  padding: 0;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  @include desktop {
    align-self: center;
    grid-template-columns: repeat(4, minmax(25rem, 45rem));
    max-width: 192rem;
  }
}

