//menu organization
@import "../utilities/variables";

//-------------Menu Container---------------//

.menu-container {
  display: flex;
  flex-direction: column;
  position:relative;
  justify-content: center;
  align-items: center;
  background-color: $lightGray-color;
  border-radius: 6rem 6rem 0 0;
  margin-top: calc(map-get($round, round-medium) * -1);
  min-height: 50rem;
  @include container;
  @include tablet {
  max-width: 800rem;
  }
  @include desktop {

    grid-template-columns: repeat(3, minmax(35rem, 33%));
    max-width: 200rem;
  }
}

//-------------Menu Page---------------//

.top-image {
  height: 40rem;
  object-fit: cover;
  width: map-get($width , base-width );
}

.menu-title {
  display: flex;
  justify-content: start;
  justify-content: space-around;
  grid-template-columns: 2fr min-content;
  margin-right: 1px;
  font-style: oblique;

  & .heart {
    margin-left: 15rem;
  }
  @include desktop {
    grid-column-end: 4;
    grid-column-start: 1;
  }
}
.menu-background {
  display: flex;
  flex-direction: column;
  gap: map-get($gap , gap-medium);
  border-radius: map-get($round , round-medium);
  padding: map-get($padding , small) 0;
  &-title::after {
    border-bottom: 0.3rem solid $tertiary-color;
    content: " ";
    display: block;
    margin-top: 0.3rem;
    width: 6rem;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
    margin-bottom: map-get($padding , xlarge);
    margin-top: map-get($padding , medium);
    padding-left: map-get($padding , padding-menu);
    padding-right: map-get($padding , padding-menu);
  }
