//menu organization
@import "../utilities/variables";
@import "../utilities/mixin";

//-------------Menu Page--------------//

.menu-container {
  // display: grid;
  // position: relative;
  position: relative;
  background-color: $lightGray-color;
  border-radius: map-get($round, round-medium) map-get($round, round-medium) 0 0;
  margin-top: calc(map-get($round, round-medium) * -1);
  min-height: 50rem;
  box-shadow: map-get($shadow , shadow-base);
  @include container;
  @include tablet {
    // margin-left: auto;
    // margin-right: auto;
    max-width: 150rem;
  }
  @include desktop {
    display: grid;
    // position: relative;
    grid-template-columns: repeat(3, minmax(35rem, 33%));
    max-width: 195rem;
  }
}

.top-image {
  height: 40rem;
  object-fit:cover;
  object-position: right 66%;
  width: map-get($width , base-width );
  box-shadow: map-get($shadow , shadow-base);
}

.menu-title {
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 1fr min-content;
  padding-left: 30%;
  padding-right: 30%;

  & .heart {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    grid-column-end: 4;
    grid-column-start: 1;
  }
}

.menu-background {
  display: flex;
  flex-direction: column;
  gap: map-get($gap , gap-base);
  border-radius: map-get($round , round-medium);
  padding: map-get($padding , small) 0;
  &-title::after {
    border-bottom: 0.3rem solid $tertiary-color;
    content: " ";
    display: block;
    margin-top: 0.3rem;
    width: 5rem;
  }
}

