//menu organization

@import "../utilities/variables";

.top-image {
    height: 25rem;
    object-fit: cover;
    width: 100%;
  }
  
  .menu-title {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr min-content;
    justify-content: space-between;
  
    &-heart {
      margin-right: 2rem;
    }
    @include desktop {
      grid-column-end: 4;
      grid-column-start: 1;
    }
  }
  
  .menu-section {
    display: flex;
    flex-direction: column;
    gap: map-get($gap, gap-base);
    padding: map-get($padding, small) 0;
    &-title::after {
      display: block;
      border-bottom: 0.3rem solid $tertiary-color;
      content: " ";
      margin-top: 0.3rem;
      width: 6rem;
    }
  }
  
  .menu-container .btn {
    padding: 10rem;
    margin: 0 auto;
    margin-bottom: map-get($padding, xlarge);
    margin-top: map-get($padding, medium);
    padding-left: map-get($padding, base);
    padding-right: map-get($padding, base);
    @include desktop {
      grid-column-end: 4;
      grid-column-start: 1;
    }
  }

  
  // @for $i from 2 through 4 {

  //   $duration: 0.3s;

  //   $menus: 3;
 
  //   $children: 5;

  //   $menu-delay: ($duration * $children) * ($i - 2);
  //   .menu-container {

  //     & > :nth-child(#{$i}) {
  //       animation: fade-in $duration forwards;
  //       animation-delay: $menu-delay;
  //       opacity: 0%;

  //       @for $x from 1 through 5 {

  //         $children-delay: $menu-delay + $duration * ($x - 1);
  //         & > :nth-child(#{$x}) {
  //           animation: fade-in $duration forwards,
  //             translate-up ($duration * 2) forwards;

  //           animation-timing-function: ease-in-out;
  //           opacity: 0%;
  //         }
  //       }
  //     }
  //   }
  // }